{%  extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6 text-center">
                    <h1>Bienvenu sur Le site de l'évaluation réussie !</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
